

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tc7q2y');
    src:  url('../fonts/icomoon.eot?tc7q2y#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tc7q2y') format('truetype'),
      url('../fonts/icomoon.woff?tc7q2y') format('woff'),
      url('../fonts/icomoon.svg?tc7q2y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  } 
  
  [class^="icon-"], [class*=" icon-"] { 
     /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}


 @font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?ns0zc');
    src:  url('fonts/icomoon.eot?ns0zc#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?ns0zc') format('truetype'),
      url('fonts/icomoon.woff?ns0zc') format('woff'),
      url('fonts/icomoon.svg?ns0zc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-github:before {
    content: "\eab0";
  }
  

body {
    font-family: 'source sans pro', Arial, Helvetica, sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 { font-family: 'Fjalla One' , sans-serif;}


/* Header */
.header {
    
    background-color: #244051;  
    display: flex;
    justify-content: space-between;
    height: 90px;
    flex-wrap: wrap;
    
}

.menu {
    display: flex;
    align-items: center;
    height: inherit;
}
.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    pointer-events:visible ;

}

.header ol,li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: inherit;
}

.header figure {
    margin-top: 20px;
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
    
}


/* Principal - Hero */
.hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.hero-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}



.hero-title {
    line-height: 80px;
    font-size: 4.5em;
    color: white;
    z-index: 2;
    
}

.hero h1 strong {
    color: #e7443e;
}

.hero p {
    font-size: 3.5em;
    color: white;
    font-weight: 800;
    margin-top: -80px;
}



/* Portfolio - Project */

.portfolio {
    background: #244051;
    padding: 20px;
}

.portfolio h2 {
    color:white;
    /* font-family: 'source sans pro', Arial, Helvetica, sans-serif */
}

.project {
    border: 1px solid gray;
    background: #fafafa;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    
}
.project-left-div {
    width: 50%;
    
}
.project-imageContainer {
    width: 50%;
    
}

.project-imageContainer img {
    max-width: 100%;
}

.project-title {
    font-size: 40px;
    padding: 0px;
}
.project-subtitle {
    font-size: 20px;
}
.project-date {
    font-size: 15px;
}
.project-link {
    font-size: 15px;
}
.project-blog {
    font-size: 16px;
    font-weight: bold;
}

/* Project2 */

/* Event */

.events {
    display: flex;
    flex-wrap: wrap;
}

.event-project {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 1%;
    width: 47%;
    background: whitesmoke;
    overflow: hidden;
    flex-shrink: 0;
    
}

.event-project img {
    width: 100%; 
}

.event-detail {
    background: white;
    margin: 20px 50px;
    margin-top: -50px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.event-detail a {
    border: 1px solid crimson;
    color: crimson;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.event-title {
    margin-left: 10px;
}

/* contacts */

.contacts {
    background:white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: crimson;
    flex-wrap: wrap;

}

.contact-form {
    margin: 10px;
}
.contact-input {
    background-image: url(../images/message.png);
    background-size: 21px 19px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 3px;
    border-radius: 5px;
    padding: 5px 5px 5px 40px;
    border: 1px solid lightgrey;
    
}

.contact-button {
    display: block;
    border-radius: 5px;
    border: 1px white solid;
    color: white;
    background-color:crimson;
    padding: 5px 60px;
    margin-top: 10px;

}



.social-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.social-link-twitter {
    background-image: url(../images/Twitter-Logo.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-link-facebook {
    background-image: url(../images/facebook.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-link-instagram {
     background-image: url(../images/instagram.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-link-github {
      background-image: url(../images/github.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
/* footer */

.footer {
    background: #244051;
    color: white;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer a {
    text-decoration: none;
    color: white;
}

.footer-message1 {
    margin: 10px;
}
.footer-message2 {
    margin: 10px;
}

/* Container */

.container{
    border: 1px solid red;
    max-width: 1000px ;
    flex:1;
    margin: 0 auto;
    border: inherit;
    border-radius: inherit;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    flex-wrap: inherit;

    align-items: inherit;
}


/* Lobby */
.hero-intro {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.hero-welcome {
    height: 500px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #244051;

}

/* BURGER MENU */

.burger-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 4;
    color: white;
}
/* DESKTOP FIRTS - MediaQuery para empezar por el mas grande */

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 1em;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .hero-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    .hero-title{
        font-size: 4em;
        z-index: 2;
    }

}
@media screen and (max-width: 767px) {
    
    .menu {
        position: fixed;
        z-index: 3;
        background-color: rgba(220,20, 60,.8);
        bottom: 0;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

    }

    .menu.is-active {
        left: 0;
    }

    .header {
        display: block;
        height: 90px;
    }
    .header figure {
        text-align: center;
        margin-top: 0px;
    }

    .header figure img {
        width: 44px;
        height: 40px;
        margin-top: 0;
        padding: 5px;
    }

    .header a {
        font-size: 2em;
        margin: 30px;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 40px;
    }
    .header ol li a {
        justify-content: center;
    }

    .project {
        display: block;

    }
    .project-imageContainer {
        width: auto;
        text-align: center;

    }
    .project-left-div {
        width: auto;

    }

    .project-title {
        font-size:2em;
        /* padding: 0px; */
    }
    .project-subtitle {
        font-size: 1.5em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-link {
        font-size: 1em;
    }
    .project-blog {
        font-size: .8em;
        
    }

    .event-project {
        width: 100%;
    }
   .event-project img {
       width: 100%;
   }

   .event-detail {
       font-size: 16px;
   }

   .event-detail h3 {
       font-size: 1em;

   }
   .event-detail p {
       font-size: .8em;
   }
   .event-detail a {
       padding: 1px 5px;
   }

   .hero-title {
    font-size: 3.5em;
    z-index: 2;
}
.burger-button {
    display: block;
}
}
@media screen and (max-width: 480px) {
    .project-title {
        font-size:1em;
        /* padding: 0px; */
    }
    .project-subtitle {
        font-size: 1.5em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-link {
        font-size: 1em;
    }
    .project-blog {
        font-size: .8em;
        
    }

    .contacts {
        display: block;
        height: auto;
    }

    .contact-form {
        display: block;
        text-align: center;
    }
    .contact-button {
        margin: 1em auto;
    }
    .social-media {
        text-align: center;
    
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    .hero{
        padding: 0;
        justify-content: center;
    }

    

    .hero-title {
        line-height: 50px;
        font-size: 2em;
        z-index: 2;
        text-align: center;
    }
}
@media screen and (max-width: 320px) {
    .project-title {
        font-size:.5em;
        /* padding: 0px; */
    }
    .project-subtitle {
        font-size: 1.5em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-link {
        font-size: 1em;
    }
    .project-blog {
        font-size: .8em;
        
    }
    .header a {
        font-size: 1.5em;
    }
}